
    html{
      scroll-behavior: smooth;

    }

    body{
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      background-color: rgb(53, 189, 243);
    }

    .navbar ul {
      display: flex;
      gap: 20px;
      list-style: none;
      margin: 0;
      padding: 0;
      color: white;
    }

    .navbar li {
      cursor: pointer;
    }

    .navbar li a:hover {
    color: rgb(131, 131, 42);
    }


    .hero{
      background-image: url('travel-hd-4zjwrepl0mzn70nd.jpg');
      background-size: cover;
      background-position: center;
      height: 100vh;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      
      padding-left: 80px;
      

    }

    .hero-text{
      background: rgba(0, 0, 0, 0.5); 
      padding: 30px 40px;
      border-radius: 15px;
      backdrop-filter: blur(5px); 
      transition: transform 1s;

    }
    .hero-text:hover{
      transform: scale(1.05);
    }

    .hero{
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url('travel-hd-4zjwrepl0mzn70nd.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 15s;
  
}
.hero:hover{
  
  transform: scale(1.05);
}

.hero-text{
  padding: 40px 60px;
  border-radius: 20px;
  backdrop-filter: blur(8px);
  animation: fadeZoomSlide 1.5s ease-out forwards;
}

.hero-text h1{
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  color: #fff8dc;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
}

    .destinations{
  padding: 60px 20px;
  text-align: center;
  background-color: #f4f4f4;
}

.destinations h2{
  font-size: 40px;
  margin-bottom: 40px;
  font-family: 'Playfair Display', serif;
}

.cards{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card{
  background: white;
  width: 400px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: transform 1s;
}

.card:hover{
  transform: scale(1.05);
}

.card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3{
  margin: 15px 0 10px;
}

.card p{
  padding: 0 15px 20px;
  color: gray;
}
.price {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 60px 20px;
  background-color: #f4f4f4;
  flex-wrap: wrap; 
  
  
}

.basic{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 60px 20px;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 15px;
  padding: 40px;
  width: 350px;
  box-shadow: 4px 1px 10px gray;
  
   
  
}
.Premium{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 60px 20px;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 15px;
  padding: 40px;
  width: 350px;
  box-shadow: 4px 1px 10px gray;
}
.luxury{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   padding: 60px 20px;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 15px;
  padding: 40px;
  width: 350px;
  box-shadow: 4px 1px 10px gray;
  border-style:inherit;
 
  
}
.Premium:hover{
  border-color:blue;
  transition:border-color 1s ;
  transition: box-shadow 1s;
  transition: transform 1s;
  box-shadow: 0 1px 5px orange;
  transform: scale(1.05);
  
}
.basic:hover{
  border-color:blue;
  transition:border-color 1s ;
   transition: box-shadow 1s;
   transition: transform 1s;
  box-shadow: 0 1px 4px orange;
  transform: scale(1.05);
}
.luxury:hover{
  border-color:blue;
  transition:border-color 1s ;
  transition: box-shadow 1s;
  transition: transform 1s;
  box-shadow: 0 1px 4px orange;
  transform: scale(1.05);
}
footer {
  background-color: rgb(2, 132, 199);
  width: 100%;
  margin: 0;
  padding: 60px 20px;
  text-align: center;
}

footer h3,
footer p {
  margin: 0;
  color: white;
  line-height: 50px;
}
.book{
  padding: 15px;
  background-color: darkorange;
  border-radius: 10px;
  color: lightcyan;
  border-color: white;
}
.book:hover{
  background-color: rgb(2 132 199 );
}
.book:active{
  background-color: rgb(122, 184, 29);
}
a{
  color: #fff8dc;
  text-decoration: none;
}
.pridesc{
  color: grey;
}

   

